.container {
    margin: 35px 20px;
    display: flex;
    
}

.nowPlaying {
    max-width: 33%;
    border: solid 1px #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;

    color: var(--yellow-700);

    img {
        width: 300px;
        max-width: 100%;
        max-height: 340px;
        object-fit: cover;
        display: block;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    strong {
        margin-bottom: 50px;
        

    }

    a {
        background-color: var(--orange-900);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        font-size: 24px;
        color: #FFF;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        max-width: 100%;
        width: 300px;

    }
}